<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hyperana.kindleimagekeyboard">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_input"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- singleTask means only one instance in system tasklist -->
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- Declares the input method service -->
        <service
            android:name=".ImageInputIME"
            android:configChanges="orientation|keyboardHidden|screenSize|screenLayout"
            android:label="@string/image_input_label"
            android:permission="android.permission.BIND_INPUT_METHOD"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.view.InputMethod" />
            </intent-filter>

            <meta-data
                android:name="android.view.im"
                android:resource="@xml/method" />
        </service>

        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:launchMode="singleTask">
            <intent-filter>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- todo: -L- share-image activity inserts as icon in selected page with text -->
        <activity
            android:name=".CreateKeyboardActivity"
            android:label="@string/title_activity_create_keyboard"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="stateVisible" />
    </application>

</manifest>